        .parent {
            width: 600px;
            height: 400px;
            border: 3px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* შიდა div – მშობლის ნახევარი */
        .child {
            width: 50%;
            height: 50%;
            border: 3px solid red;
            text-align: center;
        }

        /* h1 */
        .child h1 {
            font-size: 60px;
            border: 2px solid blue;
        }

        /* u თეგი – h1-ის 85% */
        .child h1 u {
            font-size: 85%;
            border: 2px solid green;
        }

        /* სურათი – მშობლის 65% */
        .child img {
            width: 65%;
            border: 2px solid purple;
        }