h1 {
    color: rgb(0, 0, 255);
}

h2 {
    color: rgb(0, 255,0);
}

h3 {
    color: rgb(255, 0, 0);
}

h4 {
    color: #ff0000;
}

h5 {
    color: #0000ff;
}

h6 {
    color: #adff2f;
}

/* ეს არის 3 დავალება */